In [ ]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from xgboost import XGBClassifier
import xgboost as xgb
from sklearn.ensemble import AdaBoostClassifier, RandomForestRegressor, RandomForestClassifier
from sklearn.model_selection import train_test_split, StratifiedKFold, GridSearchCV 
from sklearn.metrics import mean_absolute_error, accuracy_score, confusion_matrix, classification_report, roc_auc_score
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

In [ ]:
import xgboost
import csv as csv
from xgboost import plot_importance
from matplotlib import pyplot
from sklearn.model_selection import cross_val_score,KFold

from sklearn.metrics import mean_absolute_error
import matplotlib.pyplot as plt
 #Perforing grid search
from scipy.stats import skew
from collections import OrderedDict

Loading data

In [ ]:
emp_train = pd.read_csv('Train.csv')
emp_train.head()

  Employee_ID Gender   Age  Education_Level  ... VAR5 VAR6 VAR7 Attrition_rate
0   EID_23371      F  42.0                4  ...    4    5    3         0.1841
1   EID_18000      M  24.0                3  ...    3    5    3         0.0670
2    EID_3891      F  58.0                3  ...    3    8    3         0.0851
3   EID_17492      F  26.0                3  ...    3    7    3         0.0668
4   EID_22534      F  31.0                1  ...    2    8    2         0.1827

[5 rows x 24 columns]

In [ ]:
emp_test = pd.read_csv('Test.csv')
emp_test.head()

  Employee_ID Gender   Age  Education_Level  ... VAR4 VAR5 VAR6 VAR7
0   EID_22713      F  32.0                5  ...  2.0    1    8    4
1    EID_9658      M  65.0                2  ...  1.0    2    8    2
2   EID_22203      M  52.0                3  ...  2.0    1    9    3
3    EID_7652      M  50.0                5  ...  2.0    2    8    3
4    EID_6516      F  44.0                3  ...  2.0    2    7    4

[5 rows x 23 columns]

In [ ]:
print(emp_train.shape)
print(emp_test.shape)

(7000, 24)
(3000, 23)

Data Preprocessing

In [ ]:
print(emp_train.isna().sum())

Employee_ID                  0
Gender                       0
Age                          0
Education_Level              0
Relationship_Status          0
Hometown                     0
Unit                         0
Decision_skill_possess       0
Time_of_service              0
Time_since_promotion         0
growth_rate                  0
Travel_Rate                  0
Post_Level                   0
Pay_Scale                    0
Compensation_and_Benefits    0
Work_Life_balance            0
VAR1                         0
VAR2                         0
VAR3                         0
VAR4                         0
VAR5                         0
VAR6                         0
VAR7                         0
Attrition_rate               0
dtype: int64

In [ ]:
print(emp_test.isna().sum())

Employee_ID                    0
Gender                         0
Age                          161
Education_Level                0
Relationship_Status            0
Hometown                       0
Unit                           0
Decision_skill_possess         0
Time_of_service               52
Time_since_promotion           0
growth_rate                    0
Travel_Rate                    0
Post_Level                     0
Pay_Scale                      3
Compensation_and_Benefits      0
Work_Life_balance              5
VAR1                           0
VAR2                         217
VAR3                           0
VAR4                         298
VAR5                           0
VAR6                           0
VAR7                           0
dtype: int64

In [ ]:
df_train= pd.DataFrame(emp_train)
f = plt.figure(figsize=(19, 15))
corr = df_train.corr()
corr.style.background_gradient(cmap='coolwarm')
plt.matshow(corr, fignum=f.number)
cb = plt.colorbar()

In [ ]:
emp_train.describe()

               Age  Education_Level  ...         VAR7  Attrition_rate
count  6588.000000      7000.000000  ...  7000.000000     7000.000000
mean     39.622799         3.187857  ...     3.257000        0.189376
std      13.606920         1.065102  ...     0.925319        0.185753
min      19.000000         1.000000  ...     1.000000        0.000000
25%      27.000000         3.000000  ...     3.000000        0.070400
50%      37.000000         3.000000  ...     3.000000        0.142650
75%      52.000000         4.000000  ...     4.000000        0.235000
max      65.000000         5.000000  ...     5.000000        0.995900

[8 rows x 17 columns]

Replace missing values

In [ ]:
emp_train.fillna(emp_train.mean(), inplace=True)

In [ ]:
emp_train.head()

  Employee_ID  ...  Decision_skill_possess_Directive
0   EID_23371  ...                                 0
1   EID_18000  ...                                 0
2    EID_3891  ...                                 0
3   EID_17492  ...                                 0
4   EID_22534  ...                                 0

[5 rows x 44 columns]

In [ ]:
emp_train.to_csv(r'empTrain.csv')

Categorical Values

In [ ]:
# Dummy Variables - Gender

emp_train = pd.get_dummies(emp_train , columns = ['Gender'])

In [ ]:
# Dummy Variables - Gender

emp_train = pd.get_dummies(emp_train , columns = ['Relationship_Status'])

In [ ]:
# Dummy Variables - Gender

emp_train = pd.get_dummies(emp_train , columns = ['Hometown'])

In [ ]:
# Dummy Variables - Gender

emp_train = pd.get_dummies(emp_train , columns = ['Unit'])

In [ ]:
# Dummy Variables - Gender

emp_train = pd.get_dummies(emp_train , columns = ['Decision_skill_possess'])

In [ ]:
# Dummy Variables - Gender

emp_train = pd.get_dummies(emp_train , columns = ['Compensation_and_Benefits'])

Divide to X and Y

In [ ]:
X= emp_train
X = X.drop(['Employee_ID','Attrition_rate'], axis = 1)

In [ ]:
X.head()

    Age  ...  Compensation_and_Benefits_type4
0  42.0  ...                                0
1  24.0  ...                                0
2  58.0  ...                                0
3  26.0  ...                                0
4  31.0  ...                                0

[5 rows x 46 columns]

In [ ]:
y = emp_train['Attrition_rate']
y.head()

Divide X and Y

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=123)

In [ ]:
xg_reg = xgboost.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

In [ ]:
xg_reg.fit(X,y)

preds = xg_reg.predict(X_test)

[11:22:41] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

RMSE: 0.215162

of test data

In [ ]:
emp_test.head()

In [ ]:
emp_test.fillna(emp_test.mean(), inplace=True)

In [ ]:
emp_test = pd.get_dummies(emp_test , columns = ['Relationship_Status'])
emp_test = pd.get_dummies(emp_test , columns = ['Hometown'])
emp_test = pd.get_dummies(emp_test , columns = ['Unit'])
emp_test = pd.get_dummies(emp_test , columns = ['Decision_skill_possess'])
emp_test = pd.get_dummies(emp_test , columns = ['Compensation_and_Benefits'])

In [ ]:
X_emp_test= emp_test
X_emp_test = X_emp_test.drop(['Employee_ID'], axis = 1)

In [ ]:
predNew = xg_reg.predict(X_emp_test)

In [ ]:
df = pd.DataFrame(predNew)

In [ ]:
df.to_csv(r'submit1.csv')